.address {
  position: relative;
}

.address__title {
  margin: 0;
  margin-bottom: 22px;
  text-align: start;
}

.address__contacts {
  background-color: var(--bg-grey, #f4f1ed);
  padding: 53px 30px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-right: 362px;
    padding-bottom: 60px;
    padding-left: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 100px;
    padding-right: 314px;
    padding-bottom: 100px;
    padding-left: 100px;
    box-sizing: border-box;
    width: 50%;
  }
}

.address__contact-list {
  margin: 0;
  margin-bottom: 25px;
}

.address__map {
  position: relative;
  min-height: 281px;

  @media (min-width: 768px) {
    min-height: 374px;
    width: 369px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
  }

  @media (min-width: 1200px) {
    min-height: 422px;
    width: 670px;
  }
}
