.bestsellers {
  overflow: hidden;
}

.bestsellers__inner {
  padding-bottom: 80px;

  @media(max-width: 707.9px) {
    position: relative;
  }

  @media(min-width: 708px) {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
}

.bestsellers__text {
  @media(min-width: 708px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 36%;
    margin-right: 40px;
  }
}

.bestsellers__container {
  padding-left: 50px;
  padding-right: 50px;
}

.bestsellers__button {
  @media(max-width: 707.9px) {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
  }
}
