.button {
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: var(--dark-blue, #122947);
  text-decoration: none;
  padding: 0;
  border: none;
  background-color: transparent;
  min-height: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 28px;
  border: 1px solid var(--grey-7, #b3bac1);
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 0.1s;

  @media(min-width: 768px) {
    font-size: 16px;
  }

  &--form_open {
    border: none;
    padding: 0;
  }

  &:hover {
    border-color: var(--dark-blue, #122947);
  }

  &:active {
    opacity: .3;
  }
}

.button__text {
  display: none;
}

.button__icon {
  width: 14px;
  height: 14px;

  @media (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}
