.care-program {
  @media (min-width: 768px) {
    position: relative;
    overflow: hidden;
  }

  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: -60px;
    width: 250px;
    height: 252px;
    background-image: url("../../img/background/care-program-small@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/care-program-small@2x.jpg");
    }

    @media (min-width: 768px) {
      width: 402px;
      height: 397px;
      background-image: url("../../img/background/care-program-medium@1x.jpg");
      position: absolute;
      right: -120px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/care-program-medium@2x.jpg");
      }
    }

    @media (min-width: 1200px) {
      width: 670px;
      height: 451px;
      background-image: url("../../img/background/care-program-big@1x.jpg");
      right: 15px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/care-program-big@2x.jpg");
      }
    }
  }
}

.care-program__title {
  margin: 0;

  @media (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.care-program__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-grey, #f4f1f4);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 50px;
  padding-bottom: 110px;

  @media (min-width: 768px) {
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 275px;
    padding-bottom: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 91px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 209px;
    position: relative;
    width: 56%;
    box-sizing: border-box;
  }
}

.care-program__text {
  margin-bottom: 7px;

  @media (min-width: 768px) {
    text-align: start;
    margin-bottom: 18px;
  }
}

.care-program__button {
  padding-left: 28px;
  padding-right: 28px;
}
