.collage {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    width: 354px;
    flex-shrink: 0;
  }

  @media (min-width: 1200px) {
    width: 699px;
  }
}

.collage picture {
  width: 50%;
  display: flex;

  @media (min-width: 768px) {
    width: auto;
  }

  @media (max-width: 1199.9px) {
    &:nth-child(3n + 1) {
      display: none;
    }
  }
}

.collage__img {
  height: auto;
  width: 100%;

  @media (min-width: 768px) {
    width: 177px;
    height: 177px;
  }

  @media (min-width: 1200px) {
    width: 233px;
    height: 233px;
  }
}
