.collage {
  display: flex;
  flex-wrap: wrap;
}

.collage picture {
  width: 50%;
  display: flex;

  @media (max-width: 1200px) {
    &:nth-child(3n + 1) {
      display: none;
    }
  }
}

.collage__img {
  height: auto;
  width: 100%;
}
