.contact-list {
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 145%;
  font-weight: 400;
  color: var(--dark-blue, #122947);
}

.contact-list__title {
  font-weight: 500;
}

.contact-list__info {
  margin-left: 0;
}

.contact-list__info a {
  color: inherit;
  text-decoration: none;
}
