.expand {
  border: none;
  background: transparent;
  padding: 0;
  position: absolute;
  top: -38px;
  right: 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.expand__closed {
  display: none;
}
