.expand {
  border: none;
  background: transparent;
  padding: 0;
  position: absolute;
  top: -20px;
  right: 20px;

  @media (min-width: 708px) {
    display: none;
  }
}

.expand__closed {
  display: none;
}
