.js-enabled .form--position_a {
  position: absolute;
  left: 15px;
  right: 15px;
  z-index: 20;
  background: var(--page-bg, #f8f8f6);

  @media (min-width: 768px) {
    left: 45px;
    right: 45px;
  }

  @media (min-width: 1200px) {
    left: 15px;
    right: 15px;
  }
}

.form__inner {
  padding: 0 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 12px;
  }

  @media (min-width: 1200px) {
    width: 66%;
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}

.form__fieldsets {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  border: none;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    padding: 0;
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 1200px) {
    margin-right: 80px;
  }

  &--cart-layout {
    display: flex;
    align-items: center;
    margin-bottom: 42px;

    @media (min-width: 1200px) {
      margin-bottom: 39px;
    }
  }

  &:last-child {
    @media (min-width: 1200px) {
      padding-bottom: 70px;
    }
  }
}

.form__legend {
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  color: var(--dark-blue, #122947);
  width: 100%;
  border-bottom: 1px solid var(--grey-5, #dbdce0);
  padding: 0;
  padding-bottom: 13px;

  @media (min-width: 768px) {
    border-bottom: none;
    padding: 0;
    margin-bottom: 20px;
  }

  &--fontset {
    font-size: 16px;
    line-height: 145%;
    border: none;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  &--cart-layout {
    width: auto;
    margin-right: 15px;
    padding: 0;
    margin-bottom: 0;
  }
}

.form__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.form__buttons {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1200px) {
    align-self: flex-end;
    margin-top: -74px;
    margin-right: -10px;
    z-index: 50;
  }
}

.form__button {
  width: 115px;

  @media (min-width: 768px) {
    width: 141px;
  }

  &:first-child {
    @media (min-width: 768px) {
      margin-right: 20px;
    }

    @media (min-width: 1200px) {
      margin-right: 20px;
    }
  }
}

.form__choice-list {
  margin: 0;
}
