.goods-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.goods-list__item {
  @media (min-width: 768px) {
    width: 324px;
    min-height: 350px;
  }

  @media (min-width: 1200px) {
    width: 270px;
    min-height: 350px;
  }
}
