.link {
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 500;
  color: var(--dark-blue, #122947);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.link svg {
  width: 23px;
  height: 12px;

  @media (min-width: 768px) {
    width: 26px;
  }
}
