.menu-btn {
  position: absolute;
  display: block;
  top: 0;
  border: 0;
  background-color: transparent;
  width: 14px;
  height: 14px;
  padding: 0;

  @media (min-width: 1200px) {
    display: none;
  }
}

.menu-btn__opened {
  width: 14px;
  height: 14px;

  @media (min-width: 708px) {
    width: 18px;
    height: 18px;
  }
}

.menu-btn__closed {
  width: 22px;
  height: 11px;
  display: none;

  @media (min-width: 708px) {
    width: 24px;
    height: 12px;
  }
}
