.menu-btn {
  position: absolute;
  display: block;
  top: 31px;
  border: 0;
  background-color: transparent;
  width: 14px;
  height: 14px;
  padding: 0;

  @media (min-width: 768px) {
    top: 41px;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.menu-btn__opened {
  width: 14px;
  height: 14px;

  @media (min-width: 768px) {
    width: 18px;
    height: 18px;
    display: none;
  }
}

.menu-btn__closed {
  width: 22px;
  height: 13px;

  @media (min-width: 768px) {
    width: 23px;
    height: 17px;
  }
}
