.novelty {
  position: relative;
  padding-top: 296px;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../img/background/novelty-small@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/novelty-small@2x.jpg");
    }

    @media (min-width: 708px) {
      background-image: url("../../img/background/novelty-medium@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/novelty-medium@2x.jpg");
      }
    }

    @media (min-width: 1200px) {
      background-image: url("../../img/background/novelty-big@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/novelty-big@2x.jpg");
      }
    }
  }
}
