.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @media (min-width: 1200px) {
    border-bottom: 1px solid var(--grey-5, #dbdce0);
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.page-header__inner {
  @media(min-width: 1200px) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

.page-header__top {
  background-color: var(--page-bg, #f8f8f6);
  border-bottom: 1px solid var(--grey-5, #dbdce0);

  &--transparent {
    background: 0 0;
    border-color: transparent;
  }

  @media (min-width: 1200px) {
    border-bottom: none;
  }
}

.page-header__top-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 24px;

  @media (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 34px;
  }

  @media (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  &::before {
    content: "";
    width: 35%;
    height: 1px;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.page-header__user-menu {
  margin: 0;
}

.page-header__nav-list {
  margin: 0;
  margin-bottom: 42px;
  margin-top: 32px;

  @media (min-width: 768px) {
    margin-top: 42px;
    margin-bottom: 50px;
  }
}

.page-header__social-media {
  display: none;
  &::after {
    content: "";
    height: 66px;
    width: 100%;
    display: block;
    background-color: var(--grey-4, #f4f4f4);

    @media (min-width: 768px) {
      height: 120px;
    }
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.page-header__social-media .social-media {
  margin: 0;
  margin-bottom: 46px;

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }
}

.page-header__bottom {
  background-color: var(--page-bg, #f8f8f6);

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-right: 115px;
    margin: 0;
  }
}
