.page {
  height: 100%;
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 145%;
  font-weight: 400;
  color: var(--dark-blue);
  background-color: var(--page-bg, #f8f8f6);
}

.page__a11y-hidden {
  position: fixed;
  transform: scale(0);
}

.page__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page__container {
  padding: 0 15px;

  @media (min-width: 768px) {
    padding: 0 45px;
  }

  @media (min-width: 1200px) {
    // width: 100%;
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
  }

  &--bestsellers {
    overflow: hidden;
  }
}

.page__promo {
  margin-bottom: 72px;

  @media (min-width: 768px) {
    margin-bottom: 120px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 140px;
  }
}

.page__bestsellers {
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 115px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 135px;
  }
}

.page__novelty {
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 121px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 140px;
  }
}

.page__care-program {
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 121px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 140px;
  }
}

.page__about-us {
  margin-bottom: 73px;

  @media (min-width: 768px) {
    margin-bottom: 120px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 141px;
  }
}

.page__subscribe {
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 120px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 140px;
  }
}

.page__address {
  margin-bottom: 76px;

  @media (min-width: 768px) {
    margin-bottom: 119px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 141px;
  }
}

.page__social-media {
  margin: 0;
}

.page__promo-list {
  margin: 0;
}

.page__bestsellers-list {
  margin: 0;
}
