.page-footer {
  background-color: var(--bg-grey, #f4f1ed);
}

.page-footer__footer-nav {
  margin: 0;
}

.page-footer__logo {
  padding: 0;

  @media (min-width: 1200px) {
    margin-right: 69px;
  }
}

.page-footer__nav {
  border-bottom: 1px solid var(--grey-3, #d1d1d1);
}

.page-footer__nav-inner {
  @media (min-width: 708px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.page-footer__social-media {
  @media (min-width: 1200px) {
    margin-left: auto;
  }
}

.page-footer__copy {
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: var(--grey-1, #959595);

  @media (min-width: 708px) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__copy a {
  text-decoration: none;
  color: inherit;
}

.page-footer__copy span {
  display: inline-flex;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    background-color: var(--grey-6, #cdcdcd);
    mask-image: url("../../img/stack.svg#copy");
    mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
}
