.pagination {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    &::before {
      content: "";
      width: 35%;
      height: 1px;
    }
  }
}

.pagination__flipping-page {
  @media (min-width: 768px) {
    margin-top: 3px;
    margin-right: -3px;
    margin-left: 3px;
  }
}
