.product-details {
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 145%;
  font-weight: 400;
  color: var(--dark-blue, #122947);
  border-bottom: 1px solid var(--grey-7, #b3bac1);
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.product-details__title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid var(--grey-7, #b3bac1);
  padding-top: 14px;
  margin-bottom: 15px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.product-details__desc {
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 140%;
  }
}

.product-details__expand {
  position: absolute;
  display: block;
  top: initial;
  right: 10px;

  @media (min-width: 708px) {
    right: 20px;
  }
}
