.product-details {
  font-family: var(--mplus), "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 145%;
  font-weight: 400;
  color: var(--dark-blue, #122947);
  border-bottom: 1px solid var(--grey-7, #b3bac1);

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.product-details__title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid var(--grey-7, #b3bac1);

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.product-details__desc {
  margin: 0;
}

.product-details__expand {
  position: static;
  display: block;
}
