.promo {
  background-image: url("../../img/background/mob-index-promo@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 76px;
  padding-bottom: 57px;
}

.promo__text {
  margin-top: 20px;
  margin-bottom: 35px;

  @media(min-width: 708px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}

.promo__text .text {
  margin-top: -8px;
  margin-bottom: 26px;
}

.promo__button {
  @media (max-width: 707.9px) {
    margin: 0 auto;
  }
}

.promo__title {
  margin: 0;
}

.promo__image {
  max-width: 100%;
  width: 130px;
  height: 170px;

  @media (min-width: 708px) {
    width: 245px;
    height: 322px;
  }

  @media (min-width: 1200px) {
    width: 330px;
    height: 422px;
  }
}
