.quote {
  font-family: var(--raleway), "Arial", sans-serif;
  font-size: 22px;
  line-height: 125%;
  font-weight: 500;
  color: var(--dark-blue, #122947);
  text-align: center;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.quote q {
  quotes: "\201c" "\201d";
}
