
.subscribe {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.subscribe__title {
  margin: 0;
}

.subscribe__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 49px;

  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.subscribe__text .text {
  margin-top: -4px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    text-align: start;
  }
}
