
.subscribe {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.subscribe__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;

  @media (min-width: 708px) {
    align-items: flex-start;
  }
}

.subscribe__text .text {
  @media (min-width: 708px) {
    text-align: start;
  }
}
