
.subscribe {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.subscribe__title {
  margin: 0;
}

.subscribe__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 49px;

  @media (min-width: 768px) {
    align-items: flex-start;
    padding: 0;
    margin-bottom: 8px;
  }
}

.subscribe__collage {
  @media (min-width: 768px) {
    margin-right: 47px;
  }

  @media (min-width: 1200px) {
    margin-right: 70px;
  }
}

.subscribe__text .text {
  margin-top: -4px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    text-align: start;
    margin-bottom: 15px;
  }
}

.subscribe__button {
  @media (min-width: 768px) {
    min-width: 170px;
  }
}
