.user-menu {
  padding: 0;
  list-style: none;
  display: flex;
  width: 35%;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media(min-width: 1200px) {
    width: auto;
    position: absolute;
    right: 15px;
  }
}

.user-menu__item {
  margin-right: 20px;

  @media (min-width: 768px) {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.user-menu__item svg {
  width: 14px;
  height: 16px;

  &:first-child {
    width: 13px;
  }

  @media (min-width: 768px) {
    width: 18px;
    height: 21px;

    &:first-child {
      widows: 16px;
    }
  }
}
