@font-face {
  font-family: "Mplus";
  src: url("../../fonts/mplus1p-regular.woff2") format("woff2"), url("../../fonts/mplus1p-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mplus";
  src: url("../../fonts/mplus1p-medium.woff2") format("woff2"), url("../../fonts/mplus1p-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/raleway-regular.woff2") format("woff2"), url("../../fonts/raleway-regular.woff.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/raleway-medium.woff2") format("woff2"), url("../../fonts/raleway-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
